// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

@font-face {
  font-family: 'Darker_Grotesque';
  src: url('http://party.gbre.org/js/fonts/Darker_Grotesque/DarkerGrotesque-Regular.ttf'), format('ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500;800&display=swap');

/// Regular font family
/// @type List
$text-font-stack: 'Darker Grotesque', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// @type List

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;
