// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

button,
input[type="button"] {
	margin: 5px;
	padding: 8px 10px;
	border-radius: $button-border-radius;
	transition: all 0.3s ease;
	background: $button-background-color;
	color: $button-text-color;
	border: 2px solid $button-border-color;
	font-size: 20px;

	svg {
		margin: 0 8px 0 0;
	}

	&:hover,
	&.focused {
		color: $focused-button-text-color;
		background: $focused-button-background-color;
		border: 2px solid $focused-button-border-color;
		cursor: pointer;
	}

	&:focus,
	&.focused {
		outline: none;
	}

	&.focused {
		box-shadow: 0px 0px 4px inset;
	}

	&:disabled {
		color: $disabled-text-color !important;
		border: 2px solid $disabled-text-color !important;
		cursor: auto;

		&:hover {
			background: $button-background-color;
		}
	}

	&.opaque {
	    background-color: $opaque-button-background-color;
	    color: $opaque-button-text-color;
	    border-color: $opaque-button-background-color;
	}
}
