.ReactModal__Content.email-modal {
    width: 60%;
    left: 20%;
    height: fit-content;
}

.email-form {
    padding: 20px 40px;

    section {
        margin: 20px 0;
    }
    textarea {
        width: 100%;
        height: 300px;
    }
    input {
        margin-left: 10px;
    }
    input.bad-email-input, input.bad-email-input:focus {
        outline: none;
        border: 2px solid $accent-color !important;
        border-radius: 5px !important;
    }
    .email-form-message .bad-word-count {
        color: $accent-color;
    }
    .email-status {
        display: flex;
        flex-direction: row;
    }
    .email-status-label {
        margin-left: 20px;
    }
    .email-status-icon {
        align-self: center;

        svg {
            font-size: xx-large;
        }
    }
    .original-message {
        font-size: smaller;
        border-left: 10px solid color('grey-200');
        padding: 0 20px;
    }
}
