.ReactModal__Content {
	border: none !important;
	background: $background-color !important;
	box-shadow: 2px 2px 4px darken($background-color, 30%);
}
.ReactModal__Overlay {
	z-index: 10;
	background: $modal-overlay-color !important;
}
