// -----------------------------------------------------------------------------
// This file contains all styles related to the Navigation component.
// -----------------------------------------------------------------------------

.navigation-container {
    display: flex;
    align-items: center;
    padding: 8px 50px;
    background-color: $background-color-dark;

    .column {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .column.settings-container {
        display: flex;
        flex-direction: row;
        justify-content: start;
    }

    button:disabled {
        opacity: 0;
    }

    .column-avatar {
        height: 100%;
        position: relative;

        .puck-wrapper {
            position: absolute;
            height: 75%;
        }

        img {
            height: 100%;
            max-height: 125px;
        }
    }
    
    .map-tooltip {
        text-align: center;
        font-size: 12px;
        margin-bottom: -16px;
    }

    .map-button svg {
        margin: 0;
    }

    .map-button.animated {
        animation: flash linear .666s infinite;
    }
}

#map-link {
    position: fixed;
    bottom: 1em;
    right: 1.2em;
}
