// -----------------------------------------------------------------------------
// This file contains all styles related to the Navigation component.
// -----------------------------------------------------------------------------
