// -----------------------------------------------------------------------------
// This file contains all styles related to the PuckBox component.
// -----------------------------------------------------------------------------



.fade {
  opacity: .125;
  transition: opacity .33s;
}

.spacer {
	height: 12px;
}
