// -----------------------------------------------------------------------------
// This file contains all styles related to the Welcome component.
// -----------------------------------------------------------------------------

.splash {
	width: 100%;
	height: 100%;
	z-index: -1;
	position: absolute;
}
.serif {
	font-family: $serif;
}
h1 {
	margin: -20px 0px 30px 0px;
	-webkit-text-stroke: 1.25px #1B1E1F;
	font-weight: 800;
	font-size: 2.25em;
}

button,
input,
button:disabled,
button[disabled],
input[type="button"] {
	background-color: #D6D3CD !important;
	color: #1B1E1F !important;
}

.form {
	opacity: 1;
	text-align: center;
}
.form-party {
	opacity: 1;
	text-align: center;
	animation: flash linear .666s infinite;
}
@-webkit-keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .5; }
	100% { opacity: 1; }
}

// necessary ugliness to wrangle inherited :disabled effects
.form-fade-party,
.form-fade-party:hover {
	opacity: .5;
	transition: opacity .33s;
	text-align: center;
}
.form-fade {
	opacity: .5;
	transition: opacity .33s;
	text-align: center;
}
.form-fade:focus,
.form-fade:hover {
	opacity: 1;
	transition: opacity .666s;
	text-align: center;
}
.form-fade:disabled,
#button:disabled,
#button:hover {
	background-color: #D6D3CD !important;
	border: 2px solid #D6D3CD !important;
	color: #1B1E1F !important;
}
