// -----------------------------------------------------------------------------
// This file contains all styles related to the Welcome component.
// -----------------------------------------------------------------------------
.vestibule {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;

    .header {
        margin-bottom: 1em;
        text-align: center;
        width: 100%;
    }

    h1 {
        text-align: center;
    }

    input[type="text"] {
        padding: 6px 10px;
        border: 2px solid $opaque-button-background-color;
        border-radius: 7px;
        background: white;
        outline: none;
        box-shadow: none;
        font-size: 14px;
        text-align: center;
        margin-bottom: 1em;
    }
}

.splash {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;

    button.form-party {
        width: fit-content;
    }
}

.text-entry {
  	padding: 6px 10px !important;
    border: 2px solid $name-input-border-color !important;
    background-color: $name-input-background-color !important;
    border-radius: 7px !important;
    color: #1B1E1F !important;
    outline: none !important;
    box-shadow: none !important;
    font-size: 20px !important;
}

.auth-frame {
    border: 0;
    width: 100%;
    height: 600px;
}

.form {
    opacity: 1;
    text-align: center;
}
.form-party {
    opacity: 1;
    text-align: center;
    animation: flash linear .666s infinite;
}
@-webkit-keyframes flash {
    0% { opacity: 1; }
    50% { opacity: .5; }
    100% { opacity: 1; }
}

// necessary ugliness to wrangle inherited :disabled effects
.form-fade-party {
    opacity: .25;
    transition: opacity .33s;
    text-align: center;
}
.form-fade-party:hover {
    transition: opacity .05s;
}
.form-fade {
    opacity: .5;
    transition: opacity .33s;
    text-align: center;
}
.form-fade:focus,
.form-fade:hover {
    opacity: 1;
    transition: opacity .666s;
    text-align: center;
}
.form-fade:disabled,
#button:disabled,
#button:hover {
    background-color: $disabled-background-color !important;
    border: 2px solid $disabled-background-color !important;
    color: $disabled-text-color !important;
}
