// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

button {
	margin: 5px;
	padding: 5px 10px;

	svg {
		margin: 0 4px 0 4px; 
	}
}
