// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

$serif: 'Alegreya';

@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&display=swap');

@font-face {
  font-family: 'Alegreya';
  src: url('/fonts/Alegreya/Alegreya-Regular.ttf'), format('ttf');
}

@font-face {
  font-family: 'Darker_Grotesque';
  src: url('/fonts/Darker_Grotesque/DarkerGrotesque-Regular.ttf');
}
