body {
	background-color: #303030;
	color: white;
	text-shadow: 2px 2px black;
}

a {
	color: white;
}

.title {
	text-align: center;
}

.rules-container {
	display: flex;
	justify-content: center;
}

.rules {
	text-align: left;
	max-width: 50%;
}

.enter {
	text-align: center;
}