body {
	background-color: #303030;
	color: white;
	font-family: 'Courier New';
}

a {
	color: white;
}

.title {
	text-align: center;
}

label {
	font-size: 30px;
}

.donations {
	text-align: center;
}

.rules-container {
	display: flex;
	justify-content: center;
}

.rules {
	text-align: left;
	max-width: 50%;
}

.enter {
	text-align: center;
	font-size: 30px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted white;
  font-style: italic;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 480px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}