// -----------------------------------------------------------------------------
// This file contains styles that are specific to the room page.
// -----------------------------------------------------------------------------

.room {
	height: 100vh;
	max-height: 100vh;
	display: flex;
	flex-flow: column;

	.room-header {
		display: flex;
		justify-content: center;
	}

	.room-content {
		text-align: center;
	}

	#jitsi-container {
		display: flex;
		flex: 1;

		// > iframe {
		// 	height: 100% !important; // override stupid jitsi script
		// }
	}

	#jitsi-placeholder {
		position: absolute;
		z-index: -1;
		width: 100%;
		text-align: center;
	}

	.adventure {
		text-align: center;
	}

	.art-section {
		text-align: center;
		padding: 40px;

		img {
			max-width: 500px;
			max-height: 500px;
			width: auto;
			height: auto;
			border: 20px solid #fff;
		}
	}

	#nav-container {
		max-height: 160px;

		.navigation-container {
			display: flex;
			align-items: center;
			padding: 10px 0;

			.column {
				flex: 1;
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			#navigation-puck {
				max-width: 150px;
				max-height: 150px;
				padding: 25px;
			}

			button:disabled {
				opacity: 0;
			}
		}
	}

	#map-link {
		position: fixed;
		bottom: 1em;
		right: 1.2em;
	}
}
