version: "3.2"
services:
    proxy:
        image: cabinweekend/jitsi-party-proxy
        restart: unless-stopped
        ports:
            - 80:80
            - 443:443
        environment:
            - PROXY_AUTH_ENABLED
            - PROXY_AUTH_DISCOVERY
            - PROXY_AUTH_CLIENT_ID
            - PROXY_AUTH_CLIENT_SECRET
            - PROXY_AUTH_ALLOWED_GROUPS
            - PROXY_LETSENCRYPT_ENABLED
            - PROXY_LETSENCRYPT_DOMAIN
            - AWS_ACCESS_KEY_ID=$PROXY_AWS_ACCESS_KEY_ID
            - AWS_SECRET_ACCESS_KEY=$PROXY_AWS_SECRET_ACCESS_KEY
        volumes:
            - /config/keys
        networks:
            party.jitsi:
        depends_on:
            - web-worker_1
            - web-worker_2

    web-worker_1:
        image: cabinweekend/jitsi-party-web:$PARTY_CONFIG-$PARTY_THEME-latest
        restart: unless-stopped
        ports:
            - 7071:80
        environment:
            - JITSI_PARTY_DB
            - JITSI_PARTY_DB_USER
            - JITSI_PARTY_DB_PASS
        depends_on:
            - db
            - queue
        networks:
            party.jitsi:

    web-worker_2:
        image: cabinweekend/jitsi-party-web:$PARTY_CONFIG-$PARTY_THEME-latest
        restart: unless-stopped
        ports:
            - 7072:80
        environment:
            - JITSI_PARTY_DB
            - JITSI_PARTY_DB_USER
            - JITSI_PARTY_DB_PASS
        depends_on:
            - db
            - queue
        networks:
            party.jitsi:

    db:
        image: postgres:12.2-alpine
        restart: unless-stopped
        environment:
            - POSTGRES_USER=${JITSI_PARTY_DB_USER}
            - POSTGRES_PASSWORD=${JITSI_PARTY_DB_PASS}
            - POSTGRES_DB=${JITSI_PARTY_DB}
        ports:
            - 5432:5432
        networks:
            party.jitsi:

    queue:
        image: rabbitmq:3.8.4-management-alpine
        restart: unless-stopped
        networks:
            party.jitsi:

    jitsi-meet:
        image: cabinweekend/jitsi-party-meet
        restart: unless-stopped
        ports:
            - 81:80
        environment:
            - ENABLE_AUTH
            - ENABLE_GUESTS
            - ENABLE_TRANSCRIPTIONS
            - DISABLE_HTTPS
            - JICOFO_AUTH_USER
            - XMPP_DOMAIN
            - XMPP_AUTH_DOMAIN
            - XMPP_BOSH_URL_BASE
            - XMPP_GUEST_DOMAIN
            - XMPP_MUC_DOMAIN
            - XMPP_RECORDER_DOMAIN
            - ETHERPAD_URL_BASE
            - TZ
            - JIBRI_BREWERY_MUC
            - JIBRI_PENDING_TIMEOUT
            - JIBRI_XMPP_USER
            - JIBRI_XMPP_PASSWORD
            - JIBRI_RECORDER_USER
            - JIBRI_RECORDER_PASSWORD
            - ENABLE_RECORDING
            - BRIDGE_CHANNEL=false
            - ENABLE_XMPP_WEBSOCKET
        networks:
            party.jitsi:
                aliases:
                    - ${XMPP_DOMAIN}

    prosody:
        image: cabinweekend/jitsi-party-prosody
        restart: unless-stopped
        environment:
            - AUTH_TYPE
            - ENABLE_AUTH
            - ENABLE_GUESTS
            - ENABLE_GUEST_DOMAIN
            - GLOBAL_MODULES
            - GLOBAL_CONFIG
            - LDAP_URL
            - LDAP_BASE
            - LDAP_BINDDN
            - LDAP_BINDPW
            - LDAP_FILTER
            - LDAP_AUTH_METHOD
            - LDAP_VERSION
            - LDAP_USE_TLS
            - LDAP_TLS_CIPHERS
            - LDAP_TLS_CHECK_PEER
            - LDAP_TLS_CACERT_FILE
            - LDAP_TLS_CACERT_DIR
            - LDAP_START_TLS
            - XMPP_DOMAIN
            - XMPP_AUTH_DOMAIN
            - XMPP_GUEST_DOMAIN
            - XMPP_MUC_DOMAIN
            - XMPP_INTERNAL_MUC_DOMAIN
            - XMPP_MODULES
            - XMPP_MUC_MODULES
            - XMPP_INTERNAL_MUC_MODULES
            - XMPP_RECORDER_DOMAIN
            - JICOFO_COMPONENT_SECRET
            - JICOFO_AUTH_USER
            - JICOFO_AUTH_PASSWORD
            - JVB_AUTH_USER
            - JVB_AUTH_PASSWORD
            - JIGASI_XMPP_USER
            - JIGASI_XMPP_PASSWORD
            - JIBRI_XMPP_USER
            - JIBRI_XMPP_PASSWORD
            - JIBRI_RECORDER_USER
            - JIBRI_RECORDER_PASSWORD
            - JWT_APP_ID
            - JWT_APP_SECRET
            - JWT_ACCEPTED_ISSUERS
            - JWT_ACCEPTED_AUDIENCES
            - JWT_ASAP_KEYSERVER
            - JWT_ALLOW_EMPTY
            - JWT_AUTH_TYPE
            - JWT_TOKEN_AUTH_MODULE
            - LOG_LEVEL
            - TZ
        networks:
            party.jitsi:
                aliases:
                    - ${XMPP_SERVER}

    jicofo:
        image: jitsi/jicofo:stable-5142-4
        restart: unless-stopped
        environment:
            - ENABLE_AUTH
            - XMPP_DOMAIN
            - XMPP_AUTH_DOMAIN
            - XMPP_INTERNAL_MUC_DOMAIN
            - XMPP_SERVER
            - JICOFO_COMPONENT_SECRET
            - JICOFO_AUTH_USER
            - JICOFO_AUTH_PASSWORD
            - JICOFO_RESERVATION_REST_BASE_URL
            - JVB_BREWERY_MUC
            - JIGASI_BREWERY_MUC
            - JIGASI_SIP_URI
            - JIBRI_BREWERY_MUC
            - JIBRI_PENDING_TIMEOUT
            - TZ
        depends_on:
            - prosody
        networks:
            party.jitsi:

    jvb:
        image: jitsi/jvb:stable-5142-4
        restart: unless-stopped
        ports:
            - '${JVB_PORT}:${JVB_PORT}/udp'
            - '${JVB_TCP_PORT}:${JVB_TCP_PORT}'
        environment:
            - DOCKER_HOST_ADDRESS
            - XMPP_AUTH_DOMAIN
            - XMPP_INTERNAL_MUC_DOMAIN
            - XMPP_SERVER
            - JVB_AUTH_USER
            - JVB_AUTH_PASSWORD
            - JVB_BREWERY_MUC
            - JVB_PORT
            - JVB_TCP_HARVESTER_DISABLED
            - JVB_TCP_PORT
            - JVB_STUN_SERVERS
            - JVB_ENABLE_APIS
            - TZ
        depends_on:
            - prosody
        networks:
            party.jitsi:

networks:
    party.jitsi:

