// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------


body {
	background: linear-gradient(300deg, $background-color 10%, lighten($background-color, 5%) 90%);
	background-attachment: fixed;
	min-height: 100vh;
}

.ReactModal__Content {
    border: none !important;
    background: $background-color !important;
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}
.ReactModal__Overlay {
	background: rgba(255, 255, 255, 0.25) !important;
}
