// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------


body {
	background: linear-gradient(300deg, $background-color 10%, lighten($background-color, 5%) 90%);
	background-attachment: fixed;
	min-height: 100vh;
}

.ReactModal__Content {
	border: none !important;
	background: $background-color !important;
}
.ReactModal__Overlay {
	background: lighten($background-color, 20%) !important;
}
