.june13 {
    h1 {
        margin: -24px 0px 18px 0px;
        font-weight: 800;
        font-size: 2.25em;
        color: white;
    }

    p {
        color: #2b0406;
        font-weight: bold;
    }
}
