@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
$accent-font: 'Philosopher';

$dark-blue: #100321;
$dark-lavender: #847c9c;
$fuckyou-turquoise: #00FFE2;
$light-blue: #B1EDFC;
$matte-purple: #262b56;
$black: #241f20;
$white: #fff;
$grey: #595959;
$dark-grey: #404040;
$matte-blue: #294b7f;
$light-grey: #ece9e9;

// Hexing notifications & icon
$accent-color: $fuckyou-turquoise;

$avatar-highlight-color: $matte-blue;

$background-color: $dark-blue;
$background-color-dark: $dark-blue;
$door-background: darken($dark-lavender, 20%);
$room-content-background-color: $matte-purple;
$modal-background-color: $dark-blue;

$text-color: $white;
$link-color: $fuckyou-turquoise;

$disabled-text-color: color("grey-700");
$disabled-background-color: color("grey-500");

$map-header-color: $light-grey;
$map-header-background-color: $matte-purple;

$map-room-fill: $dark-lavender;
$map-unvisited-color: $dark-grey;
$map-room-stroke-color: $dark-blue;
$map-highlight-stroke: $dark-blue;
$map-highlight-fill: $matte-purple;

$events-header-color: $black;
$events-header-background-color: $dark-lavender;
$events-name-color: $white;
$events-description-color: $light-grey;
$events-coordinates-color: $white;
$events-item-background-color: $matte-purple;

$email-form-color: $grey;
$email-description-color: $white;

$poke-color: $light-blue;
$poke-background-color: $black;

$button-background-color: $dark-lavender;
$button-border-color: $dark-lavender;
$button-text-color: $white;
$button-border-radius: 2px;

$opaque-button-background-color: $dark-blue;
$opaque-button-text-color: white;
$opaque-button-border-color: $dark-blue;

$focused-button-background-color: $matte-purple;
$focused-button-text-color: $white;
$focused-button-border-color: $matte-purple;

$name-input-border-color: white;
$name-input-background-color: white;

$modal-overlay-color: rgba(129, 62, 62, 0.25);

$art-image-border-color: color("grey-50"); //white

body {
    font-family: $accent-font !important;
}

.vestibule .header {
    margin-bottom: 0 !important;
}

.custom-login-description {
    text-align: center;
    font-size: smaller;
    opacity: 0.8;
}

// .tst,
// .room-header h2, 
// #map-info .room-name,
// .events-view .events-header,
// .events-view .event-list .event-info .event-name,
// .navigation-container .settings-container .poke-button-container .poke-options .poke-header {
//     font-family: $accent-font;
// }

.room .room-content {
    max-height: 120px;
    padding: .5em 50px;
}
