.art-room {
	display: flex;
	flex: 1;

	.jitsi-video {
		flex: 1;
	}

	.art-section {
		display: flex;
		flex: 1;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		padding: 40px 40px 0 40px;
		background-color: lighten($background-color, 10%);

		img {
			max-width: 800px;
			max-height: 500px;
			width: auto;
			height: auto;
			border: 20px solid $art-image-border-color;
		}
	}
}
