.iframe-room {
	display: flex;
	flex: 1;

	.jitsi-video {
		flex: 1;
	}

	.iframe-section {
		display: flex;
		flex: 1;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		padding: 0px;
		transform: scale(0.8);
	}
}
