@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');

.map {
    $unvisited-color: #D6D3CD;
    $transition-duration: .3s;
    height: 100%;

    p {
        text-align: center;
    }

    .map-header {
        display: flex;
        justify-content: space-between;
        background: #303436;
        padding: 10px 20px;
        color: #d6d3cd;

        .map-header-tagline {
          font-family: $serif;
          font-size: .75em;
          margin-top: 5px;
        }

        .map-stats {
            display: flex;

            .map-stat-column {
                margin-right: 25px;

                .map-stat-emoji {
                    font-size: large;
                    margin-right: 5px;
                }
            }
        }

        .map-close-button {
            padding: 1px 7px;
            margin: 0;

            svg {
                margin: 0;
            }
        }
    }

    #map-info {
        flex: 1;

        .room-info {
            border: 1px solid grey;
            border-radius: 5px;
            margin: 20px;
            padding: 20px 8px 30px 8px;


            hr {
                opacity: 0.5;
                margin: 20px 0;
            }

            .room-name {
                text-align: center;
                font-size: larger;
                font-weight: bold;
            }

            .room-info-content {
                font-size: smaller;
                text-align: center;
                line-height: 1.2;
                font-family: $serif;
                font-size: .7em;
                margin-top: 10px;
            }

            .map-room-announcements ul {
                margin: 0;
                font-size: medium;
            }

            .user-list {
                margin-top: 10px;
            }
        }
    }

    .map-area {
        flex: 1;
        display: flex;
        padding: 40px;
    }

    #d3-map svg .map-room {
        text {
            text-anchor: end;
            font-size: 15px;
            font-family: 'Georgia'
        }

        path {
            cursor: pointer;
            stroke-width: 2;
            stroke: #000;
        }

        path.highlighted-room, path.unvisited.highlighted-room, path.empty.highlighted-room {
            fill-opacity: 1;
            stroke: #f2f1f1;
            transition: fill-opacity $transition-duration, stroke $transition-duration;
        }

        path.unvisited {
            fill: $unvisited-color;
            fill-opacity: 0.5;
        }
    }
}
