.map {
    padding: 20px;

    h1 {
        text-align: center;
    }
    p {
        text-align: center;
    }

    .map-area {
        display: flex;
        justify-content: center;
    }

    #map-key {
        margin: 0 20px;

        .map-key-item {
            display: flex;
        }
        .map-key-item-number {
            margin-right: 10px;
            font-weight: bold;
        }
    }

    #d3-map svg .map-room path {
        stroke: '#000';
        stroke-width: 2;
        fill: '#9292b0';
    }
}
