// -----------------------------------------------------------------------------
// This file contains styles that are specific to the room page.
// -----------------------------------------------------------------------------

.room {
	height: 100vh;
	max-height: 100vh;
	display: flex;
	flex-flow: column;

	.room-header {
		position: fixed;
		z-index: 1000;
		width: 100%;
		text-shadow: 0 0 4px $background-color;
		padding-left: 1em;
	}

	.room-content {
		display: none;
		align-items: center;
		justify-content: center;
		flex: 1;
		padding: .5em;
		background-color: lighten($background-color, 10%);
	}

	&.entered .room-content {
		display: flex;
	}

	.jitsi-video {
		display: flex;
		flex: 1;
	}

	.jitsi-video + .room-content {
		flex: 0;
	}

	#jitsi-container {
		height: 100%;
		display: flex;
		flex: 1;

		> iframe {
			height: 100% !important; // override stupid jitsi script
		}
	}

	.adventure {
		display: flex;
		flex: 1;
		align-items: center;
		justify-content: center;
		flex-flow: column;
		padding: 50px;
	}

	.door-wrapper {
		height: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transform-style: preserve-3d;
		perspective: 2000px;

		.door-background,
		.door {
			position: absolute;
			top: auto;
			left: auto;
			right: auto;
			bottom: auto;
			width: 100%;
			max-width: 360px;
			height: 85%;
			max-height: 800px;
		}

		.door-background {
			box-shadow: 2px 2px 4px black;
		}

		.door-target {
			position: absolute;
			top: auto;
			left: auto;
			right: auto;
			bottom: auto;
			padding: 3em;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 35%;
			max-width: 400px;
			height: 80%;
			max-height: 900px;
		}

		.door-background {
			background: black;
			z-index: -1;
		}

		.door {
			z-index: 100;
			background: gray;
			-webkit-transform-origin: 0% 50%;
			-moz-transform-origin: 0% 50%;
			overflow: visible;
			display: flex;
			pointer-events: none;
			animation: door-open 1s;
			-webkit-animation: door-open 1s;
			-moz-animation: door-open 1s;
			animation-fill-mode: forwards;  
			-moz-animation-fill-mode: forwards;

			.knob {
				position: absolute;
				top: 55%;
				left: 85%;
				height: 25px;
				width: 25px;
				border-radius: 100%;
				background: gold;
			}

			.spacer {
				display: flex;
				height: 100%;
				flex: 0.7;
			}

			.panel-column {
				height: 100%;
				display: flex;
				flex: 1;
				flex-flow: column;
				justify-content: space-between;
				padding: 50px 0;
			}

			.panel {
				width: 100%;
				height: 35%;
				background: darken(gray, 5%);
				box-shadow: 0px 0px 4px darken(gray, 10%) inset;

				&.top-panel {
					height: 15%;
				}
			}
		}

		button {
			z-index: 1;
			margin: 1em;
		}
	}

	.navigation-container {
		display: flex;
		align-items: center;
		padding: 8px 0;

		.column {
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}


		button:disabled {
			opacity: 0;
		}

		.column-avatar {
			height: 100%;
			position: relative;

			.puck-wrapper {
				position: absolute;
				height: 75%;
			}

			img {
				height: 100%;
				max-height: 125px;
				// border-radius: 100%;
			}
		}
	}

	#map-link {
		position: fixed;
		bottom: 1em;
		right: 1.2em;
	}
}

@-webkit-keyframes door-open {
  0% {
  	-webkit-transform: rotateY(0deg);
  }

  45% {
  	-moz-transform: rotateY(0deg);
  }

  100% {
  	-webkit-transform: rotateY(-80deg);
  }
}

@-moz-keyframes door-open {
  0% {
  	-moz-transform: rotateY(0deg);
  }

  45% {
  	-moz-transform: rotateY(0deg);
  }

  100% {
  	-moz-transform: rotateY(-80deg);
  }
}
