// -----------------------------------------------------------------------------
// This file contains styles that are specific to the room page.
// -----------------------------------------------------------------------------

.room {
	height: 100vh;
	max-height: 100vh;
	display: flex;
	flex-flow: column;

	.room-header {
		position: fixed;
		z-index: 1000;
		width: 100%;
		text-shadow: 0 0 4px $background-color;
		padding-left: 1em;
	}

	.room-content {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1;
		padding: .5em;
		background-color: lighten($background-color, 10%);
	}

	.jitsi-video {
		display: flex;
		flex: 1;
	}

	.jitsi-video + .room-content {
		flex: 0;
	}

	#jitsi-container {
		height: 100%;
		display: flex;
		flex: 1;

		> iframe {
			height: 100% !important; // override stupid jitsi script
		}
	}

	.adventure {
		display: flex;
		flex: 1;
		align-items: center;
		justify-content: center;
		flex-flow: column;
		padding: 50px;
	}

	.door {
		height: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.navigation-container {
		display: flex;
		align-items: center;
		padding: 8px 0;

		.column {
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}


		button:disabled {
			opacity: 0;
		}

		.column-avatar {
			height: 100%;
			position: relative;

			.puck-wrapper {
				position: absolute;
				height: 75%;
			}

			img {
				height: 100%;
				max-height: 125px;
				// border-radius: 100%;
			}
		}
	}

	#map-link {
		position: fixed;
		bottom: 1em;
		right: 1.2em;
	}
}
