@charset "UTF-8";

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendors/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer';

// 5. Components
@import
  'components/button',
  'components/puckBox',
  'components/PuckSelect',
  'components/Welcome',
  'components/Navigation',
  'components/jitsiVideo',
  'components/userList';

// 6. Page-specific styles
@import
  'pages/room',
  'pages/artRoom',
  'pages/iframeRoom',
  'pages/vestibule',
  'pages/exit',
  'pages/map';

// 7. Themes
@import
  'themes/default';
