@charset "UTF-8";

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins',
  'abstracts/palette';

// 2. Vendors
@import
  'vendors/normalize';

// 3. Themes
@import
  // 'themes/default',
  // 'themes/june13';
  // 'themes/bauhaus';
  'themes/tst';

// 4. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 5. Layout-related sections
@import
  'layout/header',
  'layout/footer';

// 6. Components
@import
  'components/button',
  'components/modal',
  'components/puckBox',
  'components/PuckSelect',
  'components/Welcome',
  'components/Navigation',
  'components/jitsiVideo',
  'components/userList',
  'components/audioPlayer',
  'components/eventList',
  'components/poke',
  'components/email';

// 7. Page-specific styles
@import
  'pages/room',
  'pages/artRoom',
  'pages/iframeRoom',
  'pages/exit',
  'pages/map';


